<!DOCTYPE html>
<html>
    <head>
        <%- partial("partials/header.ejs") %>
    </head>

    <body>

        <%- partial("partials/navbar.ejs") %>


        <div class="container pt-5">
            <div class="row">
                <h1 class="mb-3">Contact Us</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                <a class="col-auto btn btn-primary mb-2" href="http://uxsoc.typeform.com/to/cXXhW0" rel="noopener noreferrer" target="_blank">
                    <i class="fas fa-envelope"></i> Join Mailing List
                </a>
                </div>
            </div>
                <div class="row justify-content-center">
                <div class="col-auto">
                <a class="col-auto btn btn-primary" href="http://bit.ly/UXSocSlack" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-slack"></i> Join Slack
                </a>
                </div>
                </div>




            <div class="row ">
                <h1 class="mb-3">
                    Links
                </h1>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-auto">
                    <a class="btn btn-primary mr-1" href="https://www.facebook.com/UXSocChapmanU/" rel="noopener noreferrer" target="_blank">
                        <i class="fab fa-facebook"></i> Facebook
                    </a>

                    <a class="btn btn-primary" href="https://twitter.com/uxsocchapmanu" rel="noopener noreferrer" target="_blank">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                </div>
            </div>

            <div class="row justify-content-center mb-3">

            <div class="col-auto">
                <a class="btn btn-primary mr-1" href="https://www.instagram.com/UXSocChapmanU/" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
                <a class="btn btn-primary" href="https://github.com/UXSoc" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-github"></i> GitHub
                </a>
                </div>
            </div>

            <div class="row justify-content-center">

            <div class="col-auto">

                <a class="btn btn-primary" href="mailto:uxsocchapmanu@gmail.com" rel="noopener noreferrer" target="_blank">
                    <i class="fas fa-envelope"></i> Email Us
                </a>
                </div>
            </div>
        </div>

        </div>



        <%- partial("partials/footer.ejs") %>

        <div id="scripts">
            <!-- external CDN scripts  -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <!-- Local JS -->
            <script src="javascript/contact.js"></script>
        </div>
    </body>

</html>