<!DOCTYPE html>
<html>
<head>
    <%- partial("partials/header.ejs") %>
</head>

<body>

<%- partial("partials/navbar.ejs") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Mission Statement</h1>
        <p class="lead">User Experience Society aims to guide the design leaders of tomorrow, creating products and services that will make the world a better place.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-auto mb-3">
            <h1>Events</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-auto">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.glitch.com/f1f2766e-3d74-4994-aef5-41a892aa118e%2Fj-burns.png?1555352113417" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Final Meeting</h5>
                    <p class="card-text">Today at 8:30 in Keck 113. Come join use for some fun!</p>
                    <a href="http://bit.ly/UXSocSlack" class="btn btn-primary" rel="noopener noreferrer" target="_blank">Check Slack</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- partial("partials/footer.ejs") %>


<div id="scripts">
    <!-- external CDN scripts  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Local JS -->
    <script src="javascript/home.js"></script>
</div>
</body>

</html>
