<section id="footer" class=" mt-5 footer-bg">
    <footer class="container pt-5 pb-5">
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <h2>

                </h2>
            </div>
        </div>
        <div class="container footer-text">
            <div class="row">
                <div class="col-9">
                    <img class="footer-img" src="img/UXSocietyLogo_icon.svg">
                </div>
                <div class="col-1">
                    <b>Navigate</b>
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </div>
                <div class="col-2">
                    <b>Our Tools</b><br>
                    <a href="https://github.com/UXSoc">Github</a> <br>
                    <a href="https://www.figma.com/">Figm</a> <br>
                    <a href="https://trello.com/en">Trello</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <small>Copyright 2020 User Experience Society. All Rights Reserved.<br>
                        Chapman University, 1 University Dr, Orange, CA 92866</small>
                </div>
                <div class="col-1">
                    <a href="https://twitter.com/uxsocchapmanu"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="col-1">
                    <a href="https://www.facebook.com/UXSocChapmanU/"><i class="fab fa-facebook"></i></a>
                </div>
                <div class="col-1">
                    <a href="https://www.instagram.com/UXSocChapmanU/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
</section>
